@use '../../style/main';

.readout{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .control{
    display: flex;
    width: 100%;
    height: 24px;
    border-bottom: main.$liner solid 1px;
    box-sizing: border-box;
    padding: 0px 0px 0px 4px;
    align-items: center;
  }

  .list{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
    box-sizing: border-box;
    overflow: scroll;
    background: white;

    .info_text{
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: main.$icon;
      white-space:nowrap;
    }
  }

  .control_bottom{
    display: flex;
    flex-direction: column;
    padding: 16px 8px;
    box-sizing: border-box;
    gap: 4px;
    width: 100%;
    height: auto;
    border-top: main.$liner solid 1px;

    .description_box{
      width: 100%;
      height: auto;
      box-sizing: border-box;
      margin: 16px 0px;

      display: grid;
      grid-template-columns: 50% 50%;
      gap: 8px;

    }
  }
}

.readout_element{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 4px;
  margin-right: 4px;

  .indicator_light{
    width: 6px;
    height:6px;
    border-radius: 3px;
    border-color: main.$liner;
    background: #77a677;
  }
}